header{
    background-color: white;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #232134;
    flex-wrap: wrap;
}

header > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 280px;
}

header > div > span{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-left: 12px;
    letter-spacing: -0.5px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

nav > a.active {
    color: #5E96FC;
}

@media screen and (max-width: 1439px)  and (min-width: 550px)  {
    nav{
        margin-right: 0%;
        gap: 25%;
        white-space: nowrap; 
    }

    header > div {
        margin-right: 21%;
    }  
}

@media screen and (max-width: 550px) {
    header{
        padding: 0 15px;
    }

    nav{
        margin-right: 0%;
        gap: 5%;
    }

    header > div {
        margin-right: 10%;
    }  
}
