.main-page-container {
    width: 1116px;
    margin: 40px auto;
    display: flex;
    gap: 28px;
    align-items: flex-start;
}

.search-container{
    width: 773px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 1300px)  and (min-width: 900px)  {
    .main-page-container {
        width: 80%;
        justify-content: center;
    }
}

@media screen and (max-width: 900px)  and (min-width: 0px)  {
    .main-page-container {
        width: 80%;;
        justify-content: center;
        flex-wrap: wrap;
    }
}


